<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
    *{
        margin:0;
        padding:0;
    }

    div {
        border:1px solid #999;
        background-color:#eee;
    }

    .leftbox {
      float:left;
    }

    .centerbox {
        position:absolute;
        left:280px;
        margin-right:200px;
    }

    .rightbox {
        width:160px;
        float:right;
    }
    .rightbox img{
        width: 160px;
        height: 190px;
    }

    </style>
</head>
<body>
<div class= "box">
<div class= "leftbox"><img src= "http://tupian.aladd.net/2016/6/2828.jpg" ></div>
<div class= "centerbox"><p>简介</p>
<p>运用左右浮动,中间绝对定位并加上左右margin值来实现中间宽度自适应
</p>
</div>
<div class= "rightbox">
	<div><img src= "http://img.hb.aicdn.com/6a8ae3ebeebc5cda6fd2bb0c4f41c653259e0e7122da-w8EcAj_fw658" ></div>
	<div><img src= "http://img.hb.aicdn.com/6a8ae3ebeebc5cda6fd2bb0c4f41c653259e0e7122da-w8EcAj_fw658" ></div>
	<div><img src= "http://img.hb.aicdn.com/6a8ae3ebeebc5cda6fd2bb0c4f41c653259e0e7122da-w8EcAj_fw658" ></div>
</div>
</body>
</html>
